<!-- This is needed for NuShell to act like a proper CLI tool.
  TLDR: NuShell maintainers won't respect macOS Unix norms and are trying
  to treat NuShell as a GUI app for reasons I do not agree with.
  See: https://github.com/nushell/nushell/issues/12103 

  This file should be symlinked or copied to ~/Library/LaunchAgents/
  ^^ currently done by gdot/macos/settings.sh
  -->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>nushell.env</string>
    <key>ProgramArguments</key>
    <array>
      <string>sh</string>
      <string>-c</string>
      <string>launchctl setenv XDG_CONFIG_HOME $HOME/.config</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
