# ignore all
/*

# except
!/.gitignore

!/borders/
!/doom/
!/dwmac
!/gdot/
!/karabiner/
!/kitty/
!/nvim/
!/ranger/
!/sqlite3/
!/vim/
!/zsh

# KDE Plasma (ref: https://github.com/shalva97/kde-configuration-files)
!/kwinrc                                  # screen edges
!/krunnerrc                               # krunner
!/plasma-org.kde.plasma.desktop-appletsrc # panel
